<body class="hold-transition login-page">

	<router-outlet></router-outlet>
	
	<div id="id01" class= "w3-modal"  [ngStyle]="appCom.modal && {'display': 'block'}">
		<div class="w3-modal-content w3-animate-top w3-card-4">
			<header class="w3-container w3-teal"> 
				<h2>Procesando ..... </h2>
			</header>
			<div class="w3-container" style="height: 200px" >
				<div style="width: 45%; float: left">Por favor espera un momento..</div>
				<div class='contain' style="width: 45%; float: left; height=150px">
					<div class="cssload-body">
						<span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</span>
						<div class="cssload-base">
							<span></span>
							<div class="cssload-face"></div>
						</div>
					</div>
					<div class="cssload-longfazers">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<footer class="w3-container w3-teal">
				<p></p>
			</footer>
		</div>
	</div>

</body>