<div class="login-box">
  <div class="login-logo">
    <a style="font-family: flats">SISTEMA ACADEMICO</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Inicia sesion con tu usuario</p>
    <form #formLogin="ngForm" (ngSubmit)="onSubmit()" method="post">
      <div class="form-group has-feedback">
        <input class="form-control" type="text" name="username" #username="ngModel" [(ngModel)]="login.username" placeholder="Username" required/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span *ngIf="username.touched && !username.valid">Campo Username Obligatorio</span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="login.password" placeholder="Password" required/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span *ngIf="password.touched && !password.valid">Campo Password Obligatorio</span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Mantener sesión iniciada 
            </label>
          </div>
        </div>

        <div class="col-xs-4">
          <button type="submit" [disabled]="!formLogin.valid" class="btn btn-primary btn-block btn-flat">Ingresar</button>
        </div>
      </div>
    </form>
  </div>
</div>
